.caixa_formulario {
    background: white;
    color: palevioletred;

    width: 400px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
}

.caixa_formulario h1 {
    margin-top: 5px;
    font-size: 30px;
}

.formulario {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.formulario input { 
    padding: 10px 15px;
    text-align: center;
    border: solid 2px rgb(83, 137, 193);
    border-radius: 10px;
    outline: none;

    font-size: 20px;
}

.formulario span {
    font-size: 15px;
}

.formulario button {
    background: #e1374e;
    color: #fff;

    margin-top: 10px;
    width: 120px;
    padding: 10px 15px;

    border-radius: 8px;
    
    align-self: center;
}